html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url("../images/nature_backdrop.jpg") no-repeat center fixed;
}


.search_container{
    /* display: flex;
    position: absolute;
    top: 35%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: red; */
    width: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: red */

}

form {
    width: 100%;
    position: relative;
    display: flex;
}


.search_input {
    width: 100%;
    height: 30px;
    border: 3px solid rgb(34, 139, 34);
    border-right: none;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: rgb(4, 87, 4);


    /* width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 2rem; */
   
}

.search_input:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(13, 83, 19);
}


.search_button{
   width: 40px;
   height: 38px;
   border: 3px solid rgb(34, 139, 34);
   border-radius: 0 10px 10px 0;
   background: rgb(34, 139, 34);
   color: rgb(255, 255, 255);
   cursor: pointer;
   font-size: 20px;
   
} 

