* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #f6d365, #fda085);
    color: rgb(235, 235, 235); 
    font-family: "Poppins", sans-serif
}

header {
      font-size: 1.5rem;
}

header,form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20ch; 
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
}

form button {
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color:  #fda085;
}