body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#mainheader {
    background: #333;
    color: white;
}

/* h1 {
    color:green;
}  */

p { 
    border-top: 5px solid blue;
    border-left: 5px solid blue;
    border-bottom: 5px solid blue;
    border-right: 5px solid blue;

    border: 3px solid red;

    padding: 10px 20px 10px 20px;
    padding: 10px 20px;
    padding: 20px;

    margin-top: 20px;
    
}