* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    /* background: #003F88; */
    /* background: lightcoral; */
    
}
/* body {
    width: 100%;
    height: 100%;
    background: black;
 
} */

.headerBar {
    position: sticky;
    top:0;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    background: whitesmoke;
    color: rgb(2, 121, 196);
}

.menuButton {
    background: none;
    font-size: 2rem;
    border: none;
    /* text-align: center; */
}

.cartButton {
    border: none;
    background: whitesmoke;
    /* color: rgb(2, 121, 196); */
}


.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 50%;
    text-align: left;
    background: #5babfa;
    color: #FFD500;
    overflow-x: hidden;   
    transition: all 0.3s ease;
    
}

.sideBarButton {
    position: absolute;
    top: 0;
    right: 5px;
    background: none;
    border: none;
    font-size: 2rem;
    
}
/* .navLinks {
    display: flex;
} */

ul li {
    list-style: none;
    margin-top: 20%;
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: blanchedalmond;
}

.fas, .far{
    font-size: 1.5rem;
    margin-right: 10px;
}

.greating {
    position: relative;
    text-align: center;
    padding: 6rem;
}



.greating::before {
    content: "";
    background-image: url("../images/banana_backdrop.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;

}

.greating * {
    position: relative;
}

.callButton1 {
    margin-top: 2.5rem;
    background-color: #fa4b3e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
}

.sellingPoints {
    text-align: center;
    color: rgb(211, 226, 0);
}

.example-1 {
    background-color: salmon;
    
    width: 30%;
    margin: 10% auto;
    padding: 30% 45%;

}
.example-2 {
    background-color: salmon;
    width: 30%;
    margin: 10% auto;
    padding: 30% 45%;
}
.example-3 {
    background-color: salmon;
    width: 30%;
    margin: 10% auto;
    padding: 30% 45%;
}


.dimOver {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

 button:hover {
    cursor: pointer;
  }

@media (min-width:750px) {
    header h1 {
        margin: auto;
    }
}