* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerBar {
    position: sticky;
    top:0;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    background: whitesmoke;
    color: rgb(2, 121, 196);
}

.menuButton {
    background: none;
    font-size: 2rem;
    border: none;
}

.cartButton {
    border: none;
    background: whitesmoke;
}


.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 0px;
    text-align: left;
    background: #5babfa;
    color: #FFD500;
    overflow-x: hidden;   
    transition: all 0.3s ease;
}

.sideBarButton {
    position: absolute;
    top: 0;
    right: 5px;
    background: none;
    border: none;
    font-size: 2rem;  
}

ul li {
    list-style: none;
    margin-top: 20%;
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: blanchedalmond;
}

.fas, .far{
    font-size: 1.5rem;
    margin-right: 10px;
}

.greating {
    position: relative;
    text-align: center;
    padding: 6rem;
}

.greating::before {
    content: "";
    background-image: url("../images/banana_backdrop.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

.greating * {
    position: relative;
}

.callButton1 {
    margin-top: 2.5rem;
    background-color: #fa4b3e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
}

.sellingPoints {
    text-align: center;
    color: rgb(211, 226, 0);
    background: rgb(252, 250, 247);
}

.sellingPoints h2 {
    font-size: 2.5rem;
    color:#0d6dce;
    margin-top: 2rem;;
}

.container {
    width: 90%;
    height: 500px;
    margin: 10% auto;
}

.image {

    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.overLay {
    position: relative;
    top: -101%;
    height: 100%;
    width: 0;
    left: 100%;
    background-color: #004dba8e;
    overflow: hidden;
    transition: .2s ease;
    text-align: center;
    justify-content: center;
}

.container:hover .overLay{
    width: 100%;
    left: 0;
    padding: 1rem;
}

.text {
    color: white;
    font-size: 2rem;
    margin-top: 25%;
  }

.user {
    font-size: 1.5rem;
}

.userInfo {
    padding: 25px;
}

.userInfo p {
    margin-left: 50px;
}

.userImage {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: 200px 200px
}

.comment {
    padding: 25px;;
}

.fa-star,.fa-star-o,.fa-star-half-o {
    color:#FDC91B;
    font-size:25px !important;
}

.tryTwo {
    position: relative;
    text-align: center;
    margin-top: 2rem;;
    padding: 6rem;
    color: rgb(7, 62, 165);
}

.tryTwo::before {
    content: "";
    background-image: url("../images/many_bananas.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.tryTwo .pitch {
    font-size: 1.25rem;
}

.tryTwo * {
    position: relative;
   
}

.outro {
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}

.outro h2 {
    color: rgb(2, 121, 196);
}

.socialLinks .fab {
    font-size: 2rem;
    color: #fa4b3e;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.socialButton {
    padding: 0;
    border: none;
    background: none;
}

.dimOver {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    z-index: 2;  
}

 button:hover {
    cursor: pointer;
  }

@media (min-width:750px) {
    header h1 {
        margin: auto;
    }
}